<div class="page">
    <div class="row top-buffer">
        <div class="col-md-6">
            <label> {{dashboardCtrl.msg}} </label>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        List of users</h3>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="user in dashboardCtrl.users">
                            {{user.name}}
                        <span class="pull-right" ng-class="{'warning': user.status == 'Hold' ,
                                                            'success': task.status == 'Completed',
                                                            'active': task.status == 'Started',
                                                            'danger': task.status == 'Pending' } ">
                        {{user.status}}</span>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            Conversations
        </div>
    </div>
</div>